<% page_heading "Home" %>
<h2>Welcome to Artisan World!</h2>
<h3>The Best Place on Earth</h3>
<p>Wonderful friends and family (and analysts), here are some useful links:</p>
<ul>
    <li><%= link_to 'All Artisans', artisans_path %></li>
    <li><%= link_to 'New Artisan', new_artisan_path %></li>
    <% if UNLEASH.is_enabled? "random-artisan", @unleash_context %>
    <li><%= link_to 'View a Random Artisan', random_artisans_path %></li>
    <% end %>
    <li><a href="https://gitlab.com/kencjohnston-apps/artisans">Review the Source for this Site</a></li>
