<h2>
  <strong><%= @artisan.name %></strong>
</h2>
 
<p>
  <strong>Description:</strong> <%= @artisan.description %>
</p>

<p>
  <strong>Location:</strong> <%= @artisan.location %>
</p>

<%= link_to 'Back', artisans_path %>
