<%= form_with(model: @artisan, local: true) do |form| %>
 
  <% if @artisan.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@artisan.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @artisan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>