<% page_heading "List" %>
<h1>Listing artisans</h1>
 
 <%= link_to 'New', new_artisan_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th colspan="3"></th>
  </tr>
 
  <% @artisans.each do |artisan| %>
    <tr>
      <td><%= artisan.name %></td>
      <td><%= artisan.description %></td>
      <td><%= artisan.location %></td>
      <td><%= link_to 'Show', artisan_path(artisan) %></td>
      <td><%= link_to 'Edit', edit_artisan_path(artisan) %></td>
      <td><%= link_to 'Remove', artisan_path(artisan),
              method: :delete, 
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

 <%= link_to 'Home', root_path %>