<% page_heading @artisan.name %>
<%= render 'display' %>
<h2>Comments</h2>
<%= render @artisan.comments %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @artisan, @artisan.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>