<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <script src="https://t.posthog.com/static/array.js"></script>
    <script>
    posthog.init('hrcY0WIICFwr5nXGlDTSndJwnZ1W1exrSb19h_wvVqQ', {api_host: 'https://t.posthog.com'})
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header"><h1><%= link_to 'Artisan World', root_path %></h1></div>
    <div id="content"><%= yield %></div>
    <div id="footer">Written by <a href='https://gitlab.com/kencjohnston'>Kenny Johnston</a> | Environment: <%= Rails.env %></div>
  </body>
</html>
